html, body {
  padding: 0;
  margin: 0;
  width: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background-color: @color-secondary-60;
}

button {
  color: white;
}

a {
  color: @color-primary-100;
  text-decoration: none;
}
